<main role="main" class="container" ng-init="$ctrl.initialize()">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <span id="devListHeader" class="list-group-item list-group-header d-inline-block text-center">Devices<i id="refresh" class="fa fa-refresh pull-right" ng-click="$ctrl.initialize()"></i></span>
        <span class="list-group-item list-group-item-action btn" ng-show="$ctrl.devices.length == 0">No devices</span>
        <button type="button" class="list-group-item list-group-item-action btn" ng-repeat="device in $ctrl.devices" ng-click="$ctrl.viewDevice(device)">{{device.name}}</button>
      </div>
    </div>
    <div class="col-md-9" ng-show="$ctrl.device">
      <fieldset class="title">
        <legend>{{$ctrl.device.name}}</legend>
      </fieldset>
      <div class="mt-2" id="accordion" role="tablist" aria-multiselectable="false">
        <div class="card" ng-repeat="sensor in $ctrl.device.sensors">
          <div class="card-header" role="tab" id="heading{{sensor._id}}">
            <h5 class="mb-0" data-toggle="collapse" data-parent="#accordion" href="#collapse{{sensor._id}}"
                 aria-expanded="false" aria-controls="collapse{{sensor._id}}"
                 ng-click="$ctrl.viewSensor(sensor)">
              {{sensor.name}}
            </h5>
          </div>
          <div id="collapse{{sensor._id}}" class="collapse" role="tabpanel" aria-labelledby="heading{{sensor._id}}" data-parent="#accordion">
            <div class="w-100 text-center mt-5 mb-5" ng-show="$ctrl.loadingSensor">
              <i class="fa fa-3x fa-refresh fa-spin"></i>
            </div>
            <div class="card-block" ng-show="!$ctrl.loadingSensor && sensor.measurements.length == 0">
              <p class="mt-3 pl-5">No measurements yet</p>
            </div>
            <div class="card-block" ng-show="!$ctrl.loadingSensor && sensor.measurements.length > 0">
              <div class="meas-block mt-2 mb-2 row ml-0 mr-0" ng-click="$ctrl.toggleModal(sensor, type)" ng-repeat="type in sensor.measurements">
                <div class="col-12 col-md-12">
                  <p class="mb-0">Measurement: {{type.measurements[0].name}}</p>
                  <p class="mb-0">Value: {{type.measurements[0].value|limitTo:8}} {{type.measurements[0].unit}}</p>
                  <p class="mb-0">Date: {{type.measurements[0].date|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="measModal" tabindex="-1" role="dialog" aria-labelledby="measModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center" id="measModalTitle">{{$ctrl.modalTemplate.title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body col-12">
          <nvd3 class="col-12" options="$ctrl.copts" data="$ctrl.cdata" api="$ctrl.capi"></nvd3>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center" id="mapModalTitle">{{$ctrl.modalTemplate.title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body col-12">
          <leaflet class="col-12" height="480px" defaults="$ctrl.leafletDefaults"></leaflet>
        </div>
      </div>
    </div>
  </div>
</main>
